<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/admin" method="post">
      <input type="text" name="dept" placeholder="depertment" value="">
      <input type="text" name="sem" placeholder="semester" value="">
      <input type="text" name="sub" placeholder="subject" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
