<!DOCTYPE>
<html>
<head>
  <title>
    Sign-Up form
  </title>
</head>
<body>
  <h1>I have sent you a verification email to the given email address, please verify and login again.</h1>
</body>
</html>
