<!DOCTYPE>
<html>
<head>
  <title>
    Sign-Up form
  </title>
  <link rel="stylesheet" href="css/style.css">
  <style media="screen">
    /* footer styles */
    .footer{
      padding-bottom: 10px;
      margin: 30px;
      border-top: 2px solid yellow;
    }
    .statement{
      position: absolute;
      left:200px;
      color: rgb(7, 83, 245);
      margin-top: 20px;
    }
    .links{
      position: absolute;
      left:550px;
      down:-10px;
    }
    #githublink{
      color: black;
    }
    #linkedinlink{
      color: rgb(57, 132, 179);
    }
    #emoji{
      color: red;
    }
  </style>
</head>
<body>
  <div class="wrap">
    <h2>Sign up here</h2>
    <form class="" action="/submit" method="post">
      <input type="text" placeholder="First name" name="first_name" value="" id="" required>
      <input type="text" placeholder="Last name" name="last_name" value="" id="" required>
      <input type="text" placeholder="Roll number" name="roll_number" value="" id="" required>
      <input type="text" placeholder="Email address" name="email_address" value="" id="" required>
      <input type="text" placeholder="User name" name="user_name" value="" id="user_name" required>
      <select name="dept_selector" id="dept_selector"required>
        <option>Computer Science</option>
        <option>Civil Engineering</option>
        <option>Mechanical Engineering</option>
        <option>Electronics Engineering</option>
        <option>Electrical Engineering</option>
      </select>
      <input type="password" placeholder="password" name="password" value="" id="" required>
      <input type="submit" value="submit" required>
      <script>
        var username = document.getElementById('dept_selector')
        username.addEventListener('click', ()=>{
          const xhr = new XMLHttpRequest()
          xhr.open('POST','http://localhost:5000/userNameCheck',true)
          xhr.setRequestHeader('Content-Type','application/json')
          const jsonStr = JSON.stringify({
            user_name:document.getElementById('user_name').value
          })
          xhr.send(jsonStr)
          xhr.onload = function(){
            if(xhr.status==400){
              alert('This user is taken')
            }
          }
        })
      </script>
    </form>
  </div>
  {{>footers}}
</body>
</html>
