<div class="footer">
  <div class="statement">
    <h4 class="statementSeg" style="display:inline">Made with</h4> <h4 style="display:inline" id="emoji">&#x2764;</h4> <h4 class="statementSeg" style="display:inline">by Rajdeep (cse batch:17-21)</h4>
  </div>
  <div class="links">
    <h4><a href="https://github.com/codeplay24" target="_blank" id="githublink">Github</a>
    <a href="https://www.linkedin.com/in/rajdeep-sarkar-66478416b/" target="_blank" id="linkedinlink">Linkedin</a>
    </h4>
  </div>
</div>
