<div class="headerClass">
  <div class="headerClassNewsFeedLink" >
    <h3><a href="/newsfeed">CGEC-SOCIAL-APP</a></h3>
  </div>
  <div class="headerClassUserName">
    <h3><a href="/profile" id="usernameATag">{{username}}</a></h3>
    <button type="button" name="button" onclick="logoutClick()">logout</button>
  </div>
</div>
